
header {
    background-color: #f9f6ee;
    padding: 30px;
    position: static;
    top: 0;
}

header .menu {
    display: flex;
    justify-content: center;
}
header .menuList{
    display: none;
}

@media (min-width:992px) {
       header .menuList{
        display: block;
       }      
}

header .menu .menuList ul {
    display: flex;
    color: #1a1a1a;
}

header .menu .menuList ul li a {
    color: inherit;
    font-family: "Montserrat", serif;
    padding: 0 20px;
    font-size: 16px;

}

header .menu .menuList ul li a:hover {
    color: #f9de9b;
}

header .menu .burger{

    display: block;
}
@media (min-width:992px) {
    header .menu .burger{
     display: none;
    }      
}
header .menu .burger .burgerMenu{
    background-color:none;
    position: relative;
}
header .menu .burger .burgerMenu span{
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color:#1a1a1a;

}
header .menu .burger .burgerMenu::after{
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#1a1a1a;
}
header .menu .burger .burgerMenu::before{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#1a1a1a;
}