.secondsection {
    margin-top: 47px;
    margin-bottom: 47px;
}



.secondsection .cards {
    display: flex;
    flex-wrap: wrap;
    
}

.secondsection .cards .card {
    width: 100%;
    padding: 10px;

}

@media(min-width: 768px){
    .secondsection .cards .card {
        width: 50%;
                
    }
}

@media(min-width: 992px){
    .secondsection .cards .card {
        width: 33.333%;
                
    }
}

.secondsection .cards .card .cardItems {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.secondsection .cards .card .cardItems .imge {
    width: 100%;
    height: 375px;
    position: relative;

}

.secondsection .cards .card .cardItems .imge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.secondsection .cards .card .cardItems .imge::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.secondsection .cards .card .cardItems .classH6 {
    position: absolute;
    top: 45%;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.secondsection .cards .card .cardItems .classH6 h6 {
    font-size: 18px;
}

